#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


@keyframes float-1 {
  0% { transform: translateY(0) translateX(0); }
  50% { transform: translateY(-15px) translateX(10px); }
  100% { transform: translateY(0) translateX(0); }
}

@keyframes float-2 {
  0% { transform: translateY(0) translateX(0); }
  50% { transform: translateY(-10px) translateX(-15px); }
  100% { transform: translateY(0) translateX(0); }
}

@keyframes float-3 {
  0% { transform: translateY(0) translateX(0); }
  50% { transform: translateY(20px) translateX(-10px); }
  100% { transform: translateY(0) translateX(0); }
}

.animate-float-1 {
  animation: float-1 8s ease-in-out infinite;
}

.animate-float-2 {
  animation: float-2 10s ease-in-out infinite;
  animation-delay: 1s;
}

.animate-float-3 {
  animation: float-3 12s ease-in-out infinite;
  animation-delay: 2s;
}